.item_1{
    display: flex;
    flex-direction: column;
    padding: 0 10px ;
    align-items: center;
    color: white;
}
.item_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    color: white;
}
.item_2_1{
    width: 320px;
    height: 250px;
    color: black;
    padding: 10px;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
   align-items: flex-start;    
  background-color:white;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  
}
.item_2_1:hover{
    box-shadow: 2px 2px 5px 10px rgba(200, 230, 102, 0.2);
    transform: scale(1.1);
}
p{
    font-family:"Poppins", sans-serif;
    font-weight: 500;
}