@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
li{
    list-style: none;
    display: flex;
    justify-content: end;
    font-size:1.5rem;
    cursor: pointer;
}
li:hover{
    color: rgb(128, 128, 128);
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    text-decoration-color: gray;
}
*{
  right: 0;
}
body{
  scroll-behavior: smooth;
}
.logo{
  margin-left: 100px;
}
@media screen and (max-width:600px) {
  .logo{
    margin-left: 10px;
  }
}